<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ resource['static_url'] }}js/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>


    <!--
    -->
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
<ul style="background-color: #add8e6;">
    <li>
      <a class="text-uppercase" href="{{ resource['real_url'] }}"><strong style="font-color: #00003f;">2py.eu</strong></a>
    </li>

    <li class="dropdown">
        <a onClick="myFunction()" class="dropbtn" style="cursor: pointer;">
            <img src="http://2py.eu:9080/img/clothes.png" height="40" class="tm-social-icon-link" alt="Clothes"/>
        </a>
        <div class="dropdown-content" style="background-color: grey ; border: 2px solid black;" id="myDropdown">
            Woman:<br />
            {% for category in resource['menu']['Woman'] -%}
            <strong>{{ category }}</strong>
            <ul>
                {% for position in resource['menu']['Woman'][category] -%}
                <li><a href="{{ resource['real_url'] }}category/{{ position.representation }}/1">{{ position.name }}</a></li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>

    </li>

    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">
            <img src="http://2py.eu:9080/img/pngfuel.png" height="40" class="tm-social-icon-link" alt="Electronics"/>
        </a>
    </li>

    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">
            <img src="http://2py.eu:9080/img/cars.png" height="40" class="tm-social-icon-link" alt="Cars"/>
        </a>
    </li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">
            <img src="http://2py.eu:9080/img/hous.png" height="40" class="tm-social-icon-link" alt="Houses"/>
        </a>
    </li>
</ul>


<div class="container-fluid">
    <div >
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer" class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            {% block footer %}
            <p class="text-xs-center tm-copyright-text">&copy; Copyright {{ resource['year'] }} by <a href="{{ resource['real_url'] }}">{{ resource['real_url'] }}</a>.</p>
            {% endblock %}
        </div>
    </div>
</div> <!-- container-fluid -->
</body>
</html>
