<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="{{ resource['static_url'] }}css/components.css">
    <link rel="stylesheet" href="{{ resource['static_url'] }}css/icons.css">
    <link rel="stylesheet" href="{{ resource['static_url'] }}css/responsee.css">
    <link rel="stylesheet" href="{{ resource['static_url'] }}owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="{{ resource['static_url'] }}owl-carousel/owl.theme.css">     

    <link rel="stylesheet" href="{{ resource['static_url'] }}css/template-style.css">

    <link href='https://fonts.googleapis.com/css?family=Playfair+Display&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{{ resource['static_url'] }}js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="{{ resource['static_url'] }}js/jquery-ui.min.js"></script>  

    <link rel="apple-touch-icon-precomposed" href="{{ resource['static_url'] }}logo.png">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    {% block head %}
    {% endblock %}
        <title>{% block title %}{% endblock %}</title>
</head>

<body class="size-1140">
    <!-- HEADER -->
    <header role="banner" class="position-absolute background-dark">    
      <!-- Top Navigation -->
      <nav class="background-transparent background-transparent-hightlight full-width sticky">
        <div class="s-12 l-2">
            <a href="{{ resource['real_url'] }}" class="logo">
            <!-- Logo White Version -->
            <img class="logo-white" src="{{ resource['icon_path'] }}"  style="height: 70px; width: 100px;"  alt="">
            <!-- Logo Dark Version -->
            <img class="logo-dark" src="{{ resource['icon_path'] }}"  style="height: 70px; width: 100px;"  alt="">
          </a>
        </div>
        <div class="top-nav s-12 l-10">
            <ul class="right chevron">
                <li><a>Clothes</a>
                  <ul> 
                    {%  block menu %}
                    {% endblock %}
                  </ul>
                </li>
                <li><a href="{{ resource['real_url'] }}shops">Shops stats</a></li>
                <li><a href="{{ resource['real_url'] }}imports">Imports</a></li>
                <li><a href="{{ resource['real_url'] }}tags">Tags</a></li>
            </ul>
        </div>
      </nav>
    </header>




    <main role="main">
            {% block search %}
            {% endblock %}

            {% block content %}
            {% endblock %}
    </main>
    
    
    <footer>
      <!-- Bottom Footer -->
      <section class="padding background-dark full-width">
        <div class="s-12 l-6">
            {% block footer %}
            <p class="text-size-12">&copy; Copyright {{ resource['year'] }} by <a href="{{ resource['real_url'] }}">{{ resource['real_url'] }}</a>.</p>
            {% endblock %}
        </div>
        <div class="s-12 l-6">
          <a class="right text-size-12" href="http://www.myresponsee.com" title="Responsee - lightweight responsive framework">Design and coding<br> by Grzegorz Prus</a>
        </div>
      </section>
    </footer>

<script type="text/javascript" src="{{ resource['static_url'] }}js/responsee.js"></script>
<script type="text/javascript" src="{{ resource['static_url'] }}owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="{{ resource['static_url'] }}js/template-scripts.js"></script>
</body>
</html>
