{% extends "base.html" %}

{% block title %}
    {{ resource['description'] }}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ resource['static_url'] }}css/templatemo-style.css">
    <link rel="stylesheet" href="{{ resource['static_url'] }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ resource['static_url'] }}css/template_category.css">
<!--
-->
    {{ super() }}
{% endblock %}

{% block menu %}
    {% for entity in menu -%}
    <li><a href="{{ resource['real_url'] }}category/{{ entity.representation }}/1">{{ entity.name }}</a></li>
    {% endfor %}
{% endblock %}

{% block content %}
<section class="section">

    <div> 
        <h1 style="font-family: Playfair Display;"> {{ resource['description'] }} </h1>
        <p>
            <b>Found {{entities|list|length}} from  {{ resource['count'] }} records</b>
        </p>

        {% if entities|list|length %}
        <div class="d-flex flex-row-reverse">
            <ul class="pagination">
                {% if resource['page'] - 1 > 0 %}
                  <li class="page-item"><a class="page-link" href="{{ resource['page'] - 1 }}">Previous</a></li>
                {% endif %}

                {% if resource['page'] != 1 %}
                  <li class="page-item"><a class="page-link" href="1">1</a></li>
                {% endif %}


                {% if resource['page'] - 2 > 1 %}
                <li class="page-item"><a class="page-link" href="{{ resource['page'] - 1 }}">{{ resource['page'] - 2 }}</a></li>
                {% endif %}

                {% if resource['page'] - 1 > 1 %}
                <li class="page-item"><a class="page-link" href="{{ resource['page'] - 1 }}">{{  resource['page'] - 1 }}</a></li>
                {% endif %}


                <li class="page-item"><span class="page-link" style="background-color: #D3D3D3">{{ resource['page'] }} </span></li>

                {% if resource['page'] + 1 < resource['max_page'] %}
                  <li class="page-item"><a class="page-link" href="{{ resource['page'] + 1 }}">{{ resource['page'] + 1 }}</a></li>
                {% endif %}

                {% if resource['page'] + 2 < resource['max_page'] %}
                  <li class="page-item"><a class="page-link" href="{{ resource['page'] + 2 }}">{{ resource['page'] + 2 }}</a></li>
                {% endif %}
                

                {% if resource['page']  != resource['max_page'] %}
                  <li class="page-item"><a class="page-link" href="{{ resource['max_page'] }}">{{ resource['max_page'] }}</a></li>
                {% endif %}

                {% if resource['page'] + 1 < resource['max_page'] %}
                  <li class="page-item"><a class="page-link" href="{{ resource['page'] + 1 }}">Next</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="container">
            <div class="row">
                {% for entity in entities -%}
                {% if (loop.index-1) %4== 0 %}
            </div>
            <div class="row">
                {% endif %}
                    
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                            <a href="{{ resource['real_url'] }}product/{{ entity.product_id  }}" />
                                    <img src="{{ entity.image }}" style="height: 400px;" />
                            </a>
                        </div>
                        <div class="product-discount-label">
                            {{entity.count}}
                        </div>
                        <div class="social" style="background-color: #FFFFFF; border: 1px solid red;">
                            Product ID: {{ entity.product_id }}
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">{{ entity.title }}</a></h3>
                            <div class="price">
                            {% if entity.min_price == entity.max_price %}
                                {{entity.min_price}} {{entity.currency}} 
                            {% else %}
                                {{entity.min_price}} {{entity.currency}} - {{entity.max_price}} {{entity.currency}} 
                            {% endif %}
                            </div>
                        </div>
                    </div>
            
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="d-flex flex-row-reverse">
                <ul class="pagination">
                    {% if resource['page'] - 1 > 0 %}
                      <li class="page-item"><a class="page-link" href="{{ resource['page'] - 1 }}">Previous</a></li>
                    {% endif %}

                    {% if resource['page'] != 1 %}
                      <li class="page-item"><a class="page-link" href="1">1</a></li>
                    {% endif %}


                    {% if resource['page'] - 2 > 1 %}
                    <li class="page-item"><a class="page-link" href="{{ resource['page'] - 1 }}">{{ resource['page'] - 2 }}</a></li>
                    {% endif %}

                    {% if resource['page'] - 1 > 1 %}
                    <li class="page-item"><a class="page-link" href="{{ resource['page'] - 1 }}">{{  resource['page'] - 1 }}</a></li>
                    {% endif %}


                    <li class="page-item"><span class="page-link" style="background-color: #D3D3D3">{{ resource['page'] }}</span></li>

                    {% if resource['page'] + 1 < resource['max_page'] %}
                      <li class="page-item"><a class="page-link" href="{{ resource['page'] + 1 }}">{{ resource['page'] + 1 }}</a></li>
                    {% endif %}

                    {% if resource['page'] + 2 < resource['max_page'] %}
                      <li class="page-item"><a class="page-link" href="{{ resource['page'] + 2 }}">{{ resource['page'] + 2 }}</a></li>
                    {% endif %}
                    

                    {% if resource['page']  != resource['max_page'] %}
                      <li class="page-item"><a class="page-link" href="{{ resource['max_page'] }}">{{ resource['max_page'] }}</a></li>
                    {% endif %}

                    {% if resource['page'] + 1 < resource['max_page'] %}
                      <li class="page-item"><a class="page-link" href="{{ resource['page'] + 1 }}">Next</a></li>
                    {% endif %}
                </ul>
            </div>
        {% else %}
            <h1>No result found</h1>
        {% endif %}
    </div>
</section>
{% endblock %}
